* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  /* BUAT GANTI FONT */
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* NAVBAR PART START */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  /* background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */
  position: relative;
  z-index: 2;
}

nav .logo {
  padding-left: 1em;
  font-weight: 700;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.25s;
}

nav ul li {
  display: inline-block;
  margin: 1em 1.5em;
}

nav ul li a:hover {
  color: rgba(255, 255, 255, 1);
}

/* NAVBAR PART END */

/* BANNER PART START */

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background-color: black;
}

.vid-reels {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reels {
  width: 720px;
  margin-top: 50px;
}

.vid-bg {
  position: static;
  height: 100vh;
  z-index: 0;
  filter: blur(2.5px)
  brightness(50%);
}

.title h1 {
  z-index: 3;
  position: absolute;
}

/* BANNER PART END */

/* ABOUT ME PART START */

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  /* background-color: yellow; */
  flex-direction: column;
  animation: transitionIn 3s;
}

.headabout {
  color: rgb(255, 255, 255);
  border-bottom: 5px solid white;
}

.title-hero {
  font-size: 40px;
  color: black;
  border-bottom: 5px solid black;
}

.about-cont {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-10%);
  /* background-color: aqua; */
}

.h1header {
  margin-bottom: 10%;
}

.container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* background-color: violet; */
}

.ava {
  transform: translateX(-10%);
  margin-left: 10%;
  /* box-shadow: 10px 10px 3px rgba(255, 255, 255, 1); */
  width: 250px;
  height: 250px;
  border: 5px inset white;
}

.text-cont {
  transform: translateX(10%);
  margin-left: 5%;
  /* background-color: bisque; */
}

.text-cont h1 {
  font-size: 30px;
  color: #e0473a;
}

.text-cont h2 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.text-cont p {
  font-size: 15px;
  color: rgb(255, 255, 255);
}

/* ABOUT ME PART END */

/* DEMO REEL PART START */

/* DEMO REEL PART END */

/* PROJECTS PART START */
.projects {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(2, 2, 2, 0.707);
}

.outside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 500px;
  flex-direction: column;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.outside h1 {
  color: rgba(5, 5, 5, 0.726);
  font-size: 40px;
  margin-bottom: 5%;
  border-bottom: 3px solid rgb(27, 27, 27);
}

.kotak1 {
  width: 630px;
  height: 620px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.poster {
  width: 200px;
  height: 300px;
  margin-left: 5px;
  margin-top: 5px;
  filter: grayscale(500%);
}

.poster:hover {
  filter: grayscale(0%);
  cursor: pointer;
}


/* PROJECT PART END */

/* CONTACT PART START */

footer .logo {
  padding-left: 1em;
  font-weight: 700;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

footer ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.25s;
}

footer ul li {
  display: inline-block;
  margin: 1em 1.5em;
}

footer ul li a:hover {
  color: rgba(255, 255, 255, 1);
}

.contact {
  width: 100%;
  height: 15vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fa {
  padding: 17px;
  margin: 0;
  font-size: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(254, 255, 255, 0.85);
  color: black;
  border-radius: 50%;
  transition: all 0.25s;
}

.fa:hover {
  opacity: 0.85;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateY(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateY(0);
  }
}

@media screen and (max-width: 472px) {
  .headabout {
    font-size: 25px;
  }

  .text-cont h1 {
    font-size: 18px;
    color: #e0473a;
  }

  .text-cont h2 {
    font-size: 13px;
    font-weight: 700;
    color: rgb(255, 255, 255);
  }

  .title-hero {
    font-size: 25px;
    color: black;
    border-bottom: 4px solid black;
  }

  .text-cont p {
    font-size: 10px;
    color: rgb(255, 255, 255);
  }

  .ava {
    transform: translateX(-10%);
    margin-left: 5%;
    /* box-shadow: 10px 10px 3px rgba(255, 255, 255, 1); */
    width: 200px;
    height: 200px;
    border: 2px inset white;
  }

  .reels {
    width: 90%;
  }

  nav .logo {
    font-size: 0.4em;
  }

  nav ul li a {
    font-size: 0.13em;
  }

  .carousel {
    height: 28%;
  }

  .projects-show {
    width: 80%;
  }

  .carousel-button {
    font-size: 0.8rem;
  }

  .capt {
    font-size: 9px;
  }

  .outside {
    margin-top: 0;
    margin-bottom: 0;
  }

  .outside h1 {
    font-size: 25px;
  }

  .kotak1 {
    width: 400px;
    height: 400px;
  }

  .poster {
    width: 100px;
    height: 200px;
  }

  .fa {
    padding-top: 7px;
    padding-left: 7.5px;
    /* padding-right: 3px; */
    margin: 0;
    /* font-size: 15px; */
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(254, 255, 255, 0.85);
    color: black;
    border-radius: 50%;
    transition: all 0.25s;
  }

  .fa .fa-instagram {
    padding-left: 7.5px;
  }

  .projects-show h1 {
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .headabout {
    font-size: 30px;
  }

  .about-cont {
    width: 80%;
  }

  .text-cont h1 {
    font-size: 25px;
    color: #e0473a;
  }

  .text-cont h2 {
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
  }

  .title-hero {
    font-size: 25px;
    color: black;
    border-bottom: 4px solid black;
  }

  .text-cont p {
    font-size: 15px;
    color: rgb(255, 255, 255);
  }

  .ava {
    transform: translateX(-10%);
    margin-left: 5%;
    /* box-shadow: 10px 10px 3px rgba(255, 255, 255, 1); */
    width: 200px;
    height: 200px;
    border: 2px inset white;
  }

  .reels {
    width: 90%;
  }

  nav .logo {
    font-size: 0.85em;
  }

  nav ul li a {
    font-size: 0.5em;
  }


  .fa {
    padding-top: 7px;
    padding-left: 7.5px;
    /* padding-right: 3px; */
    margin: 0;
    /* font-size: 15px; */
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(254, 255, 255, 0.85);
    color: black;
    border-radius: 50%;
    transition: all 0.25s;
  }

  .fa .fa-instagram {
    padding-left: 7.5px;
  }

  .projects-show h1 {
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919) {
  .headabout {
    font-size: 45px;
  }

  .about-cont {
    height: 100vh;
  }

  .text-cont h1 {
    font-size: 35px;
    color: #e0473a;
  }

  .text-cont h2 {
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
  }

  .title-hero {
    font-size: 60px;
    color: black;
    border-bottom: 4px solid black;
  }

  .text-cont p {
    font-size: 20px;
    color: rgb(255, 255, 255);
  }

  .ava {
    transform: translateX(-10%);
    margin-left: 10%;
    /* box-shadow: 10px 10px 3px rgba(255, 255, 255, 1); */
    width: 400px;
    height: 400px;
    border: 5px inset white;
  }

  .carousel {
    height: 600px;
  }

  .reels {
    width: 960px;
  }

  nav .logo {
    font-size: 2em;
  }

  nav ul li a {
    font-size: 1.5em;
  }

  .h1header {
    margin-bottom: 0;
  }

  .text-cont {
    overflow: hidden;
    transform: translateY(100px);
  }

  .ava {
    transform: translateY(80px);
  }
}

@media screen and (min-width: 1440px) {
  .headabout {
    font-size: 45px;
  }

  .about {
    height: 80vh;
  }

  .about-cont {
    height: 100vh;
  }

  .text-cont {
    width: 60%;
  }

  .text-cont h1 {
    font-size: 40px;
    color: #e0473a;
  }

  .text-cont h2 {
    font-size: 35px;
    font-weight: 700;
    color: rgb(255, 255, 255);
  }

  .title-hero {
    font-size: 60px;
    color: black;
    border-bottom: 4px solid black;
  }

  .text-cont p {
    font-size: 20px;
    color: rgb(255, 255, 255);
  }

  .ava {
    transform: translateX(-10%);
    margin-left: 10%;
    /* box-shadow: 10px 10px 3px rgba(255, 255, 255, 1); */
    width: 415px;
    height: 415px;
    border: 5px inset white;
  }

  .carousel {
    height: 400px;
  }

  .reels {
    width: 960px;
  }

  nav .logo {
    font-size: 2em;
  }

  nav ul li a {
    font-size: 1.5em;
  }

  .h1header {
    margin-bottom: 0;
  }

  .text-cont {
    overflow: hidden;
    transform: translateY(100px);
  }

  .ava {
    transform: translateY(80px);
  }
}
